.MonthlyStatesWrapper {
  margin-top: 16px;
  height: 100%;
}

.Header {
  font-weight: bold;
  color: rgb(106, 106, 106);
  box-sizing: border-box;
  margin-bottom: 8px;
  border-bottom: 2px solid #bbb;
  line-height: 35px;
  border-radius: 2px;
}

.List {
  list-style: none;
  padding: 0px;
  font-weight: 500;
  margin: 0px;
}

.Individuals {
  margin-top: 4px;
}

.Hours {
  font-weight: 700;
}
